.item.box{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description{
    background-color: aqua;
    display: flex;
    align-content: center;

}

p{
    font-weight: 500;
    color: rgba(73, 73, 73, 0.767);
    background-color: rgba(73, 72, 72, 0.678);
}